<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nnhl.project.ebank">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vector_ek3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Counsellor.EditProfile.CounsellorEditProfileActivity"></activity>
        <activity android:name=".Counsellor.VideoCall.VideoCallActivity" />
        <activity android:name=".Client.ClientRequestActivity" />
        <activity android:name=".Client.ClientMainActivity" /> <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <activity android:name=".Counsellor.CounsellorMainActivity" />
        <activity android:name=".Counsellor.Register.CounsellorRegisterActivity" />
        <activity android:name=".Counsellor.Login.CounsellorLoginActivity" />
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>